.navbar-nav{
    margin-left: auto;
    margin-top: 50px;
    font-family: poppins;
    font-size: 15px;
    color: white;
}
.container-1{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-top: 80px;
}
.section-1{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.section-1 h1{
    font-family: poppins;
    color: black;
    font-size: 44px;
    font-weight: 700;
}
.image{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}
.content-1{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}
.head{
    font-size: 40px;
    font-weight: 700;
    font-family: poppins;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    margin-top: 80px;
    margin-right: 80px;
    

}